body
{
	max-width:650px;
	margin:40px auto;
	padding:0 10px;
	font:18px;
	color:#444;
}
h1,h2,h3
{
		line-height:1.2
}
@media (prefers-color-scheme: dark)
{
	body{color:#e0e1dd;background:#0d1b2a}
	a:link{color:#2f6690}
	a:visited{color:#81c3d7}

.center
	{
		display:flex;
		justify-content:center;
		align-items:center;
	}
}